.ic-container {
    height: 400px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #363636;
    margin: 10px;
    cursor: pointer;
}

.ic-container:hover{ 
    transform: translateY(-5%);
}

.ic-image {
    height: 70%;
}

.ic-image img {
    border-radius: 5px;
}
.ic-info {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.ic-info span {
    font-size: 24px;
}

.ic-info h4 {
    transition: color 0.3s linear;
}

.ic-title h4:hover {
    color: orange;
    border-bottom: 0.5px solid orange;
}

.ic-price {
    flex: 2;
    height: 40px;
    background-color: rgba(225, 225, 225);
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 5px;
}

.ic-btn {
    flex: 1;
    height: 40px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 5px;
}