.search-container {
    width: 100%;
    height: 75px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-logo {
    width: 75px;
    height: 75px;
    cursor: pointer;
}

.search-input {
    width: 500px;
    height: 35px;
}

.search-button {
    margin-left: 10px;
    width: 100px;
    height: 37px;
    background-color: orange;
    border-radius: 5px;
}

.search-basket {
    margin-left: 10px;
    cursor: pointer;
    color: white;
}