.marketplace-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marketplace-lists { 
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}